.page-app {
	overflow: hidden;
}

.app-header {
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 580px;
	position: relative;
	z-index: 1;

	.main-breadcrumb a {
		color: #fff;
	}

	&:before {
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: right top;
		background-image: url(../images/rectangle-left.svg);
		content: "";
		display: block;
		height: 1766px;
		position: absolute;
		right: 47%;
		top: 0;
		width: 1665px;
	}

	.container {
		position: relative;
	}

	&--text {
		display: block;
		left: 0;
		max-width: 370px;
		position: absolute;
		top: 130px;
		width: 37%;

		&:after {
			clear: both;
			content: "";
			display: table;
		}
	}

	h1,h2,h3,h4,h5 {
		color: #FFFFFF;
		font-size: 30px;
		font-weight: 700;
		letter-spacing: 0;
		line-height: 35px;
		margin: 0 0 15px;
	}

	p {
		font-weight: 400;
		font-size: 15px;
		color: #FFFFFF;
		line-height: 25px;
	}

	img {
		display: block;
		right: 15px;
		position: absolute;
		top: 15px;
		max-width: 50%;
	}

	@include media-breakpoint-down(sm) {
	    height: auto;
	    padding-top: 120px;

	    .main-breadcrumb {display: none;}

		&:before {
			max-width: 128px;
			left: 0;
			right: auto;
			z-index: 2;
		}

		.app-header--text {
			background: #fff;
			top: auto;
			width: auto;
			position: relative;
			margin: 10px -15px 0;
			min-width: 100%;
			width: auto;
			text-align: center;
			padding: 0 15px 15px;
		}

		h1,h2,h3,h4,h5,h6 {
			color: #283336;
		}

		p {
			color: #283336;
		}

		img {
			transform: none;
			display: block;
			position: static;
			max-width: 80%;
			margin: 0 auto 30px;
		}
	}
}

.app-box {
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 30px 0 rgba(0,0,0,0.15);
	display: block;
	height: 576px;
	margin-bottom: 80px;
	overflow: hidden;
	position: relative;
	width: 100%;
	z-index: 1;

	h1,h2,h3,h4,h5,h6 {
		color: color('gray-dark');
		font-size: 30px;
		font-weight: 700;
		letter-spacing: 0;
		line-height: 35px;
		margin-bottom: 25px;
		padding-left: 98px;
		padding-top: 60px;
		position: relative;

		svg {
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
		}
	}

	p {
		color: color('gray-dark');
		font-size: 15px;
		font-weight: 400;
		line-height: 25px;
		padding-left: 98px;
	}

	&--text {
		display: flex;
		flex-direction: column;
		height: 576px;
		justify-content: center;
	}

	&--image {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 576px;
		overflow: hidden;

		img {
			max-width: 270px;
			display: block;
			margin: 0 auto -60px;
		}
	}


	&--scroll {
		height: 100%;
		margin-right: -25px;
		overflow: scroll;
		padding: 0 100px;
		width: auto;
	}

	&--scrollbar {
		background-image: linear-gradient(-90deg, #FFA600 0%, color('orange') 100%);
		height: 25%;
		width: 4px;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 2;
	}

	@include media-breakpoint-down(sm) {
		height: auto;
		box-shadow: none;
		overflow: initial;

		h1,h2,h3,h4,h5,h6 {
			font-size: 30px;
			line-height: 35px;
			padding: 120px 0 0;

			svg,img {
				left: 50%;
				transform: translateX(-50%);
				top: 0;
				z-index: 1;
			}
		}

		p {
			font-size: 15px;
			line-height: 25px;		
			padding: 0;
		}

		&--item {
			background: #fff;
			border-radius: 5px;
			box-shadow: 0 2px 30px 0 rgba(0,0,0,0.15);
			padding: 15px 15px 0;
			margin-bottom: 30px;
			width: 100%;
		}

		&--scroll {
			margin: 0;
			overflow: initial;
			padding: 0;
		}

		&--scrollbar {
			display: none;
		}

		&--text {
			height: auto;
			text-align: center;
			padding-bottom: 10px;
			padding-top: 20px;
		}

		&--image {
			height: auto;
			padding-bottom: 20px;

			img {
				max-width: 185px;
			}
		}
	}
}

.app-banner {
	background-size: cover;
	background-position: center;
	text-align: center;
	padding: 90px 15px;
	
	h1,h2,h3,h4,h5,h6 {
		color: #FFFFFF;
		font-size: 55px;
		font-weight: 700;
		line-height: 55px;
		padding-top: 95px;
		position: relative;
		text-align: center;
		margin-bottom: 35px;
		z-index: 1;

		img,svg {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 0;
			z-index: -1;
		}
	}

	a {
		display: inline-block;
		margin: 15px;
	}

	@include media-breakpoint-down(sm) {
		a {
			margin: 5px 3px;
		}
	}
}