.page-planos {}

.planos-header {
	padding: 0 0 90px;

	h1,h2,h3,h4,h5,h6 {
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-image: linear-gradient(-90deg, #FFA600 0%, color('orange') 100%);
		margin: 25px auto 10px;
		font-size: 35px;
		display: block;
		font-weight: 700;
		line-height: 45px;
		text-align: center;
	}

	p {
		font-weight: 400;
		font-size: 15px;
		color: color('gray-dark');
		text-align: center;
		line-height: 25px;
		max-width: 970px;
		margin: 0 auto;
	}

	@include media-breakpoint-down(sm) {
		padding-top: 80px;

		.main-breadcrumb {
			 display: none;
		}

		h1,h2,h3,h4,h5,h6 {
			font-size: 25px;
			line-height: 35px;
		}
	}
}


.planos-geolocation {
	background: #fff;
	border-radius: 5px;
	display: block;
	margin-bottom: 20px;
	padding: 30px 0;
	position: relative;
	width: 100%;
	z-index: 2;
	box-shadow: 0 0 25px 5px rgba(#000,0.2);

	.row {
		margin: 0 25px;
	}

	h5 {
		align-items: center;
		align-content: center;
		background-image: linear-gradient(-90deg, #FF6D00 0%, #FFA600 80%);
		color: #fff;
		display: flex;
		flex-direction: column;
		font-size: 35px;
		font-weight: 700;
		height: 102px;
		justify-content: center;
		padding: 0;
		position: relative;
		border-radius: 5px 5px 0 0;
		text-align: left;

		small {
			font-weight: 500;
			font-size: 15px;
			text-align: center;
			display: block;
			line-height: 20px;
			padding: 0 15px;
			color: #fff;
			letter-spacing: 0;
		}

		svg {
			height: 100%;
			left: 50%;
			position: absolute;
			top: 0;
			transform: translateX(-50%);
			width: auto;
		}

		&:after {
			position: absolute;
			left: 50%;
			top: 100%;
			content: "";
			width: 0;
			height: 0;
			margin-left: -10px;
			margin-top: -1px;
			border-style: solid;
			border-width: 10px 10px 0 10px;
			border-color: color('orange-light') transparent transparent transparent;
		}

		@include media-breakpoint-down(sm) {
			font-size: 28px;
			line-height: 30px;

			small {
				font-size: 15px;
			}
		}
	}

	&--legend {
		position: relative;
		padding: 50px 0 0;
		
		svg {
			left: 0;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		h6 {
			font-weight: 700;
			font-size: 35px;
			color: color('orange');
			line-height: 26px;
			padding-left: 120px;
		}

		p {
			strong {
				color: color('orange');
				display: block;
				font-size: 20px;
				font-weight: 400;
				line-height: 26px;
				margin: 0 0 10px;
			}

			font-weight: 400;
			font-size: 13px;
			color: color('gray-dark');
			letter-spacing: 0;
			line-height: 18px;
			padding-left: 120px;
		}

		@include media-breakpoint-down(sm) {
			margin-bottom: 30px;

			svg {
				max-width: 66px;
			}
			h6 {
				font-size: 30px;
				line-height: 35px;
			}

			h6,p {
				padding-left: 90px;
			}
		}
	}

	&--form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0;
		text-align: left;

		label {
			color: color('gray-dark');
			display: block;
			font-size: 15px;
			font-weight: 700;
			text-align: left;
		}

		.form-control {
			height: 50px;
		}

		.form-control,
		.form-control:focus {
			outline: none;
			box-shadow: none;
			border-color: #D4D7DC;
		}

		.input-group > .input-group-append > .btn, 
		.input-group > .input-group-append > .input-group-text, 
		.input-group > .input-group-prepend:not(:first-child) > .btn, 
		.input-group > .input-group-prepend:not(:first-child) > .input-group-text, 
		.input-group > .input-group-prepend:first-child > .btn:not(:first-child), 
		.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
			border: 0;
			background: color('orange');
			margin: 0;

			i {
				color: #fff;
			}

			&:focus {
				outline: none;
			}
		}
	}

	@include media-breakpoint-down(sm) {
		margin: 0 -15px 20px;
		border-radius: 0;
		min-width: 100%;
		width: auto;
	}
}

.planos-list {
	position: relative;
	background: #F2F5F6;
	padding: 100px 0;
	margin-bottom: 130px;

	&--icon {
		position: absolute;
		top: -50px;
		left: 50%;
		transform: translateX(-50%);
	}

	ul {
		padding: 0;
		list-style: none;
	}

	&--obs {
		color: color('gray-dark');
		font-size: 10px;
		font-weight: 400;
		line-height: 15px;
		display: block;
		text-align: center;
		margin: 10px 0;

		a {
			font-weight: 700;
			color: color('gray-dark');
		}
	}

	@include media-breakpoint-down(sm) {
		padding: 60px 0 40px;
	}
}

.planos-item {
	background: #FFFFFF;
	border-radius: 5px;
	position: relative;
	display: flex;
	justify-content: flex-end;
	padding: 15px 10px;
	margin-bottom: 20px;
	box-shadow: 0 0 25px 5px rgba(#000,0.2);

	&--vel {
		left: 20px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		
		img, svg {
			left: -25px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		h4,h5,h6 {
			color: color('gray-dark');
			display: block;
			font-size: 18px;
			font-weight: 400;
			padding-left: 100px;
			position: relative;
			line-height: 24px;

			strong {
				display: block;
				font-size: 35px;
				font-weight: 700;
				margin-top: 7px;
			}

			a {
				font-weight: 400;
				font-size: 13px;
				color: #ABADB2;
				text-decoration: underline;
			}
		}
	}

	&--updown {
		color: color('gray-dark');
		float: right;
		font-size: 22px;
		font-weight: 700;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 0 22px;

		small{
			font-weight: 400;
			font-size: 15px;
			color: color('gray-dark');
			line-height: 22px;
			display: block;
		}
	}

	&--price {
		align-items: center;
		border-left: 1px solid rgba(#094252, 0.2);
		display: flex;
		flex-direction: row;
		float: right;
		font-size: 22px;
		font-weight: 700;
		padding: 0 22px;

		small {
			font-weight: 400;
			font-size: 15px;
		}

		span {
			color: color('gray-dark');
			text-align: center;
			font-weight: 700;
			font-size: 32px;
		}

		.btn-assine {
			margin-left: 20px;
		}
	}

	&:after {
		clear: both;
		content: "";
		display: table;
	}

	@include media-breakpoint-down(sm) {
		border-radius: 0;
		display: block;
		margin: 0 -15px 20px;
		min-width: 100%;
		padding: 25px 15px;

		&--vel {
			position: relative;
			transform: none;
			left: auto;
			top: auto;
			text-align: center;

			h6 {
				display: inline-block;
			}
		}
		
		&--updown {
			width: 100%;
			justify-content: center;
    		margin: 0 auto;
    		padding: 35px 0;
		}

		&--price {
			border: 0;
			display: block;
			width: 100%;

			span {
				width: 100%;
				display: block;
			}

			.btn-assine {
				display: block;
				margin: 5px auto 0;
				text-align: center;
				max-width: 222px;
			}
		}
	}
}

.planos-mockup {
	margin-bottom: 70px;

	h6 {
		color: color('gray-dark');
		font-size: 35px;
		font-weight: 700;
		line-height: 35px;
		position: relative;
		padding-left: 90px;
		padding-top: 55px;

		img,
		svg {
			position: absolute;
			left: 0;
			max-width: 108px;
			top: 0;
			z-index: -1;
		}
	}

	img {
		display: block;
		margin-bottom: 20px;
		max-width: 100%;
	}

	p{
		font-weight: 400;
		font-size: 15px;
		color: color('gray-dark');
		letter-spacing: 0;
		line-height: 22px;
	}	

	@include media-breakpoint-down(sm) {
		margin-bottom: 95px;

		h6 {
			font-size: 24px;
			line-height: 26px;
			padding-left: 69px;

			img,svg {
				max-width: 80px;
			}
		}
	}
}

.planos-parcerias {
	margin-bottom: 118px;

	&--header {
		margin-bottom: 70px;
		position: relative;
		
		&:after {
			@include main-lines('bottom');
			left: auto;
			margin: 0;
			right: 0;
			bottom: -110px;
		}

		h1,h2,h3,h4,h5,h6 {
			font-weight: 700;
			font-size: 30px;
			color: color('orange-light');
			text-align: center;
			line-height: 30px;
		}

		p {
			color: color('gray-dark');
			display: block;
			font-size: 15px;
			font-weight: 400;
			line-height: 25px;	
			margin: 0 auto;
			max-width: 970px;
			text-align: center;
		}
	}

	.parcerias-item {
		padding: 0;
		display: block;

		figure {
			margin: 0 0 15px;
		}

		.btn-more {
			text-align: left;
			display: block;
			width: 100%;
		}
	}

	@include media-breakpoint-down(sm) {
		margin-bottom: 20px;

		&--header {
			h1,h2,h3,h4,h5,h6 {
				font-size: 24px;
				line-height: 36px;
			}

			&:after {
				display: none;
			}
		}

		.parcerias-item {
			margin-bottom: 65px;
		}
	}
}

.planos-sercomtel {
	background: #F2F5F6;
	border-radius: 5px;
	margin-bottom: 100px;
	padding: 60px 85px;

	img {
		max-width: 100%;
		display: block;
		margin: 0 auto 25px;
	}
	
	p {
		font-weight: 400;
		font-size: 15px;
		color: color('gray-dark');
		letter-spacing: 0;
		text-align: center;
		line-height: 22px;
	}

	small {
		color: color('gray-dark');
		display: block;
		font-size: 26px;
		font-weight: 400;
		letter-spacing: 0;
		text-align: center;
	}

	@include media-breakpoint-down(sm) {
		padding: 15px;
		margin: 0 -15px 20px;
		min-width: 100%;
		border-radius: 0;
	}
}