.header {
	position: relative;
}

.header-top {
	background: #737C8F;
	padding: 13px 0;

	&--nav {
		float: left;
	}
	
	&--acessibilidade {
		float: left;
		position: relative;

		a, button {
			background: none;
			border: 0;
			color: #fff;
			cursor: pointer;
			display: inline-block;
			font-size: 12px;
			font-weight: 400;
			padding: 0 5px;
			letter-spacing: 0.5px;

			&:focus {
				outline: none;
			}
		}
	}
	
	&--btn {
		color: #fff;
		font-size: 12px;
		padding: 5px 15px;
		border-radius: 5px;
		text-decoration: none;
		letter-spacing: 0.5px;

		i {
			margin-right: 5px;
		}

		&:hover {
			color: #fff;
		}

		&.active {
			border: 2px solid rgba(#fff,0.2);
			font-weight: 700;
		}
	}

	.btn-cidade{
		margin-left: 25px;
	}

	&:after {
		clear: both;
		content: "";
		display: table;
	}

	@include media-breakpoint-down(sm) {
		display: none;
	}
}

.header-nav {
	background: #FFFFFF;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
	position: relative;
	transition: all 0.3s ease-in-out;
	width: 100%;

	.logo {
		float: left;
		padding: 25px 50px 25px 0;
	}

	@include media-breakpoint-down(lg) {
		.container { max-width: 100%; }
	}

	nav {
		float: left;

		.btn {
			color: #464d5c;
			font-size: 16px;
			padding: 5px 15px;
			border-radius: 5px;
			text-decoration: none;
			letter-spacing: 0.5px;
			text-transform: uppercase;
			margin: 25px 0;

			i {
				margin-right: 5px;
			}

			&:hover {
				color: #333;
			}

			&.active {
				border: 2px solid rgba(#333,0.2);
				font-weight: 700;
			}
		}


		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			height: 90px;
			overflow: hidden;

			&>li {
				display: inline-block;

				&>a {
					color: color('gray');
					display: block;
					font-size: 12px;
					height: 90px;
					display: table-cell;
					vertical-align: middle;
					padding: 0 8px 0 8px;
					max-width: 110px;
					text-align: center;
					line-height: 1;

					i {
						margin-left: 5px;
					}

					strong {
						font-size: 15px;
						font-weight: 500;
					}

					&.active {
						// font-weight: 700;
					}
				}

				&:hover {
					a {
						background: #F2F5F6;
					}

					.header-subnav {
						opacity: 1;
						top: 100%;
						z-index: 99;
					}
				}
			}
		}
	}

	.btn-assine {
		float: right;
	}

	&:after {
		clear: both;
		content: "";
		display: table;
	}

	&.fixed {
		position: fixed;
		text-align: center;
		top: -100px;
		z-index: 9;

		nav {
			display: inline-block;
			float: none;
		}

		&.active {
			top: 0;
		}
	}

	&--loader {
		background: color('orange-light');
		bottom: 0;
		display: block;
		height: 3px;
		position: absolute;
		transition: all 0.2s ease-in;

		&:after {
			background: #fff;
			box-shadow: 0px 0px 7px 7px rgba(color('orange-light'),0.75);
			content: "";
			display: block;
			height: 7px;
			border-radius: 50%;
			float: right;
			margin-top: -3px;
			width: 7px;
		}
	}

	@include media-breakpoint-down(sm) {
		display: none;
	}
}

.subnav {
	float: right;
	margin-left: 15px;
}

.header-subnav {
	background: #F2F5F6;
	padding: 30px 0;
	position: absolute;
	width: 100%;
    left: 0;
    opacity: 0;
    right: 0;
    text-align: center;
    top: -500px;
    transition: opacity 0.3s ease-in-out;
    z-index: -99999;

    .parcerias-item {
    	max-width: 270px;
    	margin: 0 15px;
    }

	@include media-breakpoint-down(sm) {
		display: none;
	}
}

.header-mobile-button {
    background: none;
    border: 0;
    display: inline-block;
    float: left;
    height: 25px;
    margin-right: 8px;
    margin-top: 6px;
    outline: none;
    cursor: pointer;
    padding: 0;

    div{
		background: #fff;
		display: block;
		display: block;
		font-size: 0;
		height: 3px;
		margin-bottom: 10px;
		margin-top: 10px;
		position: relative;
		transition: 0.5s ease-in-out;
		width: 25px;
   		border-radius: 20px;
   		padding: 0;
    	border: 0;

		&:before,
		&:after {
			border-radius: inherit;
		    background: #fff;
		    content: '';
		    display: block;
		    height: 100%;
		    position: absolute;
		    transition: .5s ease-in-out;
		    width: 100%;
		}

	    &:before {
	        top: -7px;
	    }

	    &:after {
	        bottom: -7px;
	    }
    }

    &.active {
    	position: absolute;
    	left: 0 !important;
    	top: 0 !important;
    	background: #ff6d00;
    	width: 53px;
    	height: 60px;
    	border-radius: 0;
    	margin-top: 0px;
    	padding-top: 5px;

	    div {
	        transform: rotate(45deg);
	        background: #fff;

		    &:before {
		        transform: rotate(90deg);
		        top: 0;
		        background: #fff;
		    }

		    &:after {
		        transform: rotate(90deg);
		        bottom: 0;
		        background: #fff;
		    }
	    }
    }

}

.header-mobile {
	background-image: linear-gradient(to right, #FFA600 0%, #FF6D00 100%);
	padding: 12px 15px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;

	.logo {
		display: inline-block;
		margin-left: 40px;
	}

	&--assine {
		margin-top: 2px;
		background: #FFFFFF;
		border-radius: 5px;
		font-weight: 700;
		font-size: 16px;
		padding: 7px 15px;
		color: color('orange');
		letter-spacing: 0.4px;
		text-align: justify;
		float: right;

		&:hover {
			color: color('orange');
		}
	}

	&:after {
		content: "";
		clear: both;
		display: table;
	}

	@include media-breakpoint-up(sm) {
		display: none;
	}
}

.header-mobile-nav {
	background: color('orange-light');
	display: block;
	height: 100%;
	left: calc(-100% + 66px);
	position: fixed;
	top: 0;
	width: calc(100% - 68px);
	z-index: 99;
	transition: all 0.3s ease-in-out;

	&.menu-opened {
		left: 0;
	}

	.overflow {
		display: block;
		height: 100%;
		margin: 0;
		overflow-x: auto;
		padding: 100px 25px 25px 25px;
		width: 100%;
	}

	.header-mobile-button {
		color: #fff;
		display: block;
		height: 60px;
		left: 100%;
		position: absolute;
		text-align: center;
		top: 0;
		width: 54px;
		div {
			display: block;
			margin: 22px auto;
		}
	}

	&--btn {
		border-radius: 5px;
		padding: 15px;
		font-weight: 700;
		font-size: 16px;
		letter-spacing: 0.4px;
		background: #FFFFFF;
		color: #ff6d00;

		&:hover{
			color: #ff6d00;
		}

		&.active {
			color: #fff;
			border: 2px solid rgba(#FFF,0.2);	
			background: none;

			&:hover{
				color: #FFFFFF;
			}
			
		}
	}

	nav {
		padding: 30px 0 0 30px;

		ul {
			list-style: none;
			padding-left: 0;

			li {
				padding-left: 0;
				display: block;

				a {
					color: #FFFFFF;
					display: block;
					font-size: 18px;
					padding: 15px 0;

					strong {
						font-weight: 500;
					}

					i {
						margin-left: 10px;
					}
				}
			}
		}
	}

	.nav-geral {
		display: block;
	}
	.nav-empresas {
		display: none;
	}
	.nav-voce {
		display: none;
	}

	.btn-home{
		display: none;
		cursor: pointer;
		width: 54px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		color: #FFFFFF;
		position: absolute;
		left: 54px;
		top: 0;
		background: rgba(0,0,0,0.5);
		
		&.active{
			display: block;
		}
	}

	.subnav-mobile {
		display: none;
		padding-left: 30px;
	}
	
	&--minhacopel {
		border-bottom: 2px solid rgba(255,255,255,0.2);
		border-top: 2px solid rgba(255,255,255,0.2);
		padding: 29px 0;
		margin: 10px -25px;
		a {
			padding: 0 25px!important;
		}
	}

	&--acessibilidade {
		padding-left: 30px;

		a {
			color: #fff;
			display: block;
			font-size: 18px;
			font-weight: 500;
			padding: 15px 0;

			svg,i {
				margin: 0 10px 0 0;
			}

			&:last-of-type {
				font-weight: 400;
				letter-spacing: 0.5px;
			}
		}

		.acessibilidade-buttons {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 60%;
			padding-bottom: 50px;
			
			button {
				background: none;
				border: 0;
				color: #fff;
				cursor: pointer;
				display: inline-block;
				margin-top: 10px;
				padding-right: 20px;
				padding: 0;
				font-size: 24px;
			}
		}
		
	}

	@include media-breakpoint-up(sm) {
		display: none;
	}
}

body.menu-opened {
	overflow: hidden;
	&:before {
		background: rgba(#000,0.8);
		content: "";
		display: block;
		height: 100%;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 98;
	}
}