#home {
}

.home-fibra-optica{position: relative;}
.home-usos-ideias{position: relative;}
.home-ei{position: relative;}
.home-cn-ja{position: relative;}
.home-testes{position: relative;}
.home-app-copel{position: relative;}
.home-blog{position: relative;}