
.home-carousel{
	position: relative;
	width: 100%;

	.container {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}

	h6 {
		opacity: 0;
		transition: all 0.6s ease-in-out 0.3s;
		align-items: center;
		color: color('orange-light');
		display: flex;
		font-size: 22px;
		font-weight: 700;
		letter-spacing: 0;
		line-height: 25px;
		margin-bottom: 40px;
		max-width: 370px;

		img {
			float: left;
			max-width: 77px;
			margin-right: 18px;
		}
	}

	h5 {
		opacity: 0;
		transition: all 0.6s ease-in-out 0.6s;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-image: linear-gradient(-90deg, #FFA600 0%, color('orange') 100%);
		clear: both;
		font-size: 40px;
		font-weight: 700;
		max-width: 370px;
	}

	p {
		opacity: 0;
		transition: all 0.6s ease-in-out 0.9s;
		color: #FFFFFF;
		font-size: 22px;
		font-weight: 400;
		letter-spacing: 0;
		line-height: 30px;
		max-width: 370px;
	}

	.active {
		h6,
		h5,
		p {
			opacity: 1;
		}
	}

	@include media-breakpoint-down(sm) {
		margin-top: 64px;

		.container {
			background: #464D5C;
			padding-bottom: 30px + 102px;
			padding-top: 30px;
			position: static;
			transform: none;
		}

		h6 {
			font-size: 18px;
			line-height: 25px;
			margin-bottom: 20px;

			img {
				max-width: 68px;
			}
		}

		h5 {
			font-size: 25px;
		}

		p {
			font-size: 18px;
			line-height: 24px;
		}
	}
}

.home-planos {
	position: relative;
	display: block;

	&--alert {
		color: color('gray-dark');
		display: block;
		font-size: 10px;
		font-weight: 400;
		line-height: 15px;
		margin: 22px auto;
		text-align: center;
	}
}

.home-carousel-planos {
	background: #fff;
	box-shadow: 0 2px 30px 0 rgba(0,0,0,0.15);
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	z-index: 2;
	margin-top: -102px;

	&:before {
		background-image: linear-gradient(-90deg, #FF6D00 0%, #FFA600 80%);
		border-radius: 5px 5px 0 0;
		content: "";
		display: block;
		height: 102px;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	.owl-item {
		h6 {
			align-items: left;
			color: #fff;
			display: flex;
			flex-direction: column;
			font-size: 35px;
			font-weight: 700;
			height: 102px;
			justify-content: center;
			padding: 0 35px;
			margin-bottom: 35px;
			text-align: left;
			position: relative;
			border-right: 1px solid rgba(#fff,0.5);

			small {
				color: #fff;
				display: block;
				font-size: 15px;
				font-weight: 500;
				letter-spacing: 0;
			}

			svg {
				height: 100%;
				left: 50%;
				position: absolute;
				top: 0;
				transform: translateX(-50%);
				width: auto;
			}
		}

		ul {
			list-style: none;
			padding: 20px 35px;

			li {
				align-items: center;
				color: color('gray-dark');
				display: flex;
				flex-wrap: wrap;
				font-family: 500;
				font-size: 13px;
				justify-content: flex-start;
				line-height: 20px;
				margin-bottom: 12px;
				padding: 0;
				text-align: left;

				svg, 
				img {
					margin-right: 10px;
				}
			}
		}

		p {
			font-weight: 500;
			font-size: 15px;
			color: color('gray-dark');
			line-height: 20px;
			padding: 0 35px;

			strong {
				font-weight: 700;
				font-size: 32px;
			}
		}

		.btn-assine {
			display: block;
			font-size: 20px;
			margin: 0 35px 42px;
			text-align: center;
			width: calc(100% - 70px);
		}

		&:after {
			background: rgba(#094252,0.1);
			bottom: 40px;
			content: "";
			display: block;
			height: auto;
			position: absolute;
			top: 137px;
			width: 1px;
		}

		@include media-breakpoint-down(sm) {
			h6,p,ul {
				padding: 0 55px;
			}
			.btn-assine {
				margin-left: 55px;
				margin-right: 55px;
				width: calc(100% - 110px);
			}
		}
	}
}

.home-carousel-planos-next,
.home-carousel-planos-prev {
	background: none;
	border: 0;
	left: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	margin-top: -70px;
	z-index: 3;

	.arrow-bg {
		transition: all 0.2s ease-in-out;
		fill: color('orange');
	}

	&.disabled {
		.arrow-bg {
			fill: #F2F5F6;
		}
	}

	&:focus{
		outline: none;
	}

	&.home-carousel-planos-next {
		right: 0;
		left: auto;
	}

	@include media-breakpoint-down(sm) {
		top: 0;
		margin-top: 19px;
		left: 15px;
		
		&.home-carousel-planos-next {
			right: 15px;
		}

		.arrow-icon {
			padding: 0 20px;
		}

		.arrow-bg {
			display: none;
		}
	}
}

.home-geolocation {
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 30px 0 rgba(0,0,0,0.15);
	display: block;
	padding-bottom: 50px;
	margin-top: -102px;
	margin-bottom: 92px;
	overflow: hidden;
	position: relative;
	z-index: 2;

	.row {
		margin: 0 25px;
	}

	h5 {
		align-items: center;
		align-content: center;
		background-image: linear-gradient(-90deg, #FF6D00 0%, #FFA600 80%);
		color: #fff;
		display: flex;
		flex-direction: column;
		font-size: 35px;
		font-weight: 700;
		height: 102px;
		justify-content: center;
		margin-bottom: 50px;
		padding: 0;
		position: relative;
		border-radius: 5px 5px 0 0;
		text-align: left;

		small {
			font-weight: 500;
			font-size: 15px;
			text-align: center;
			display: block;
			line-height: 20px;
			padding: 0 15px;
			color: #fff;
			letter-spacing: 0;
		}

		svg {
			height: 100%;
			left: 50%;
			position: absolute;
			top: 0;
			transform: translateX(-50%);
			width: auto;
		}

		&:after {
			position: absolute;
			left: 50%;
			top: 100%;
			content: "";
			width: 0;
			height: 0;
			margin-left: -10px;
			margin-top: -1px;
			border-style: solid;
			border-width: 10px 10px 0 10px;
			border-color: color('orange-light') transparent transparent transparent;
		}

		@include media-breakpoint-down(sm) {
			font-size: 28px;
			line-height: 30px;

			small {
				font-size: 15px;
			}
		}
	}

	&--legend {
		position: relative;
		padding: 0;
		
		svg {
			left: 0;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		h6 {
			font-weight: 700;
			font-size: 35px;
			color: color('orange');
			line-height: 26px;
			padding-left: 120px;
		}

		p {
			font-weight: 400;
			font-size: 13px;
			color: color('gray-dark');
			letter-spacing: 0;
			line-height: 18px;
			padding-left: 120px;
		}

		@include media-breakpoint-down(sm) {
			margin-bottom: 30px;

			svg {
				max-width: 66px;
			}
			h6 {
				font-size: 30px;
				line-height: 35px;
			}

			h6,p {
				padding-left: 90px;
			}
		}
	}

	&--form {
		padding: 0;
		label {
			color: color('gray-dark');
			display: block;
			font-size: 15px;
			font-weight: 700;
			text-align: left;
		}

		.form-control,
		.form-control:focus {
			outline: none;
			box-shadow: none;
			border-color: #D4D7DC;
		}

		.input-group > .input-group-append > .btn, 
		.input-group > .input-group-append > .input-group-text, 
		.input-group > .input-group-prepend:not(:first-child) > .btn, 
		.input-group > .input-group-prepend:not(:first-child) > .input-group-text, 
		.input-group > .input-group-prepend:first-child > .btn:not(:first-child), 
		.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
			border: 0;
			background: color('orange');

			i {
				color: #fff;
			}
		}
	}
}


.home-fibra-optica{position: relative;}
.home-usos-ideias{position: relative;}
.home-ei{position: relative;}
.home-cn-ja{position: relative;}
.home-testes{position: relative;}
.home-app-copel{position: relative;}
.home-blog{position: relative;}








