*,
body {
	font-family: 'Prompt', sans-serif;
}

html,body {
	min-height: 100%;
  position: relative;
}

a:hover {
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

.tooltip-inner {
    max-width: 300px;
    // padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: color('orange-light');
    // border-radius: .25rem;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    margin-left: -3px;
    content: "";
    border-width: 5px 5px 0;
    border-top-color: color('orange-light');
}

.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip.bs-tooltip-left .arrow::before {
    right: 0;
    margin-top: -3px;
    content: "";
    border-width: 5px 0 5px 5px;
    border-left-color: color('orange-light');
}

.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
    margin-top: -3px;
    content: "";
    border-width: 5px 5px 5px 0;
    border-right-color: color('orange-light');
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
    margin-left: -3px;
    content: "";
    border-width: 0 5px 5px;
    border-bottom-color: color('orange-light');
}

.btn-more {
	font-weight: 500;
	font-size: 18px;
	color: color('orange');
	letter-spacing: 0;

	&:after {
		border-radius: 50%;
		border: 2px solid color('orange');
		color: color('orange');
		content: "\F061";
		display: inline-block;
		font-family: "Font Awesome 5 Pro";
		font-size: 11px;
		transition: all 0.3s ease-in-out;
		font-weight: 900;
		height: 21px;
		line-height: 17px;
		width: 21px;
		padding-right: 3px;
		text-align: right;
		margin-left: 5px;
	}

	&:hover {
		color: color('orange');

		&:after {
			border-radius: 50px;			
			width: 30px;
		}	
	}
}

.btn-assine {
	background: color('orange');
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	// float: right;
	font-weight: 700;
	margin: 18px 0;
	padding: 10px 40px;
	transition: all 0.3s ease-in-out;
	position: relative;
	overflow: hidden;
	z-index: 1;

	&:before {
		background-image: linear-gradient(49deg, #FFA600 0%, #FF6D00 100%);
		content: "";
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		transition: all 0.3s ease-in-out;
		width: 100%;
		opacity: 0;
		z-index: -1;
	}

	&:hover {
		color: #fff;

		&:before {
			opacity: 1;
		}
	}
}

.btn {
	background: #fff;
	border-radius: 5px;
	color: color('orange-light');
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	margin: 18px 0;
	padding: 10px 40px;
	transition: all 0.3s ease-in-out;
	position: relative;
	overflow: hidden;
	z-index: 1;

	&:hover {
		color: color('orange-light');

		&:before {
			opacity: 1;
		}
	}
}

.btn-o {
	border: 2px solid color('orange-light');
	border-radius: 5px;
	font-weight: 700;
	font-size: 16px;
	color: color('orange-light');
	letter-spacing: 0.4px;
	text-align: justify;
	padding: 8px 30px;

	&:hover {
		color: color('orange-light');
	}
}

.main-breadcrumb {
	padding: 20px 0;
	a {
		color: #ABADB2;
		color: color('orange');
		font-size: 12px;
		font-weight: 500;

		i {
			margin-right: 10px;
		}

		&:after {
			content: "/";
			margin: 0 10px;
		}

		&:hover {
			color: color('orange');
		}

		&:last-child {
			color: #ABADB2;

			&:hover {
				color: #ABADB2;
			}
	
			&:after {
				display: none;
			}
		}
	}
}

@mixin main-lines($align) {
    background: url(../images/lines.svg) no-repeat center;
    content: "";
    display: block;
    height: 82px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 58px;
    z-index: 1;
	@if $align == "top" {
		top: -41px;
	} @else {
		bottom: -41px;
	}
}

.main-heading {
	position: relative;
	padding: 80px 15px;
	z-index: 2;

	h1,h2,h3,h4,h5,h6 {
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-image: linear-gradient(-90deg, #FFA600 0%, color('orange') 100%);
		margin: 0 auto;
		font-size: 35px;
		display: block;
		font-weight: 700;
		line-height: 45px;
		text-align: center;
	}

	&:after {
		@include main-lines('bottom');
	}

	@include media-breakpoint-down(sm) {
		padding-bottom: 40px;
		padding-top: 40px;

		h1,h2,h3,h4,h5,h6 {
			font-size: 30px;
			line-height: 35px;

			br {
				display: none;
			}
		}
	}
}

.main-planos {
	background-image: linear-gradient(-49deg, color('orange') 0%, #FFA600 100%);
	padding: 85px 0;
	text-align: center;

	h1,h2,h3,h4,h5,h6 {
		font-weight: 700;
		font-size: 35px;
		color: #FFFFFF;
		text-align: center;
		line-height: 30px;
		display: block;
	}

	@include media-breakpoint-down(sm) {
		padding: 40px 0;
		h1,h2,h3,h4,h5,h6 {
			font-size: 24px;
			line-height: 36px;
		}
	}
}

.post-content {
	h1,h2,h3,h4,h5,h6 {
		color: color('orange');
		font-size: 13px;
		margin-bottom: 25px;
	}

	p {
		font-size: 13px;
		color: color('gray');
	}

	a {
		color: color('orange');
	}

	img {
		height: auto;
		max-width: 100%;

		&.alignleft {
			float: left;
		}

		&.aligncenter {
			display: block;
			margin: 0 auto;
		}

		&.alignright {
			float: right;
		}
	}

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}