.page-faq {
	padding-bottom: 110px;
}

.faq-header {
	background-image: linear-gradient(-49deg, color('orange') 0%, #FFA600 100%);
	padding: 0 0 130px;
	
	.main-breadcrumb a{
		color: #fff;

		&:first-child{
			color: #fff;
		}
		&:last-child{
			color: #fff;
		}
	}

	h1,h2,h3,h4,h5,h6 {
		font-weight: 700;
		font-size: 45px;
		color: #FFFFFF;
		margin: 30px 0 0;
		line-height: 40px;
	}

	form {
		float: right;
		position: relative;
		margin-top: 25px;
		max-width: 100%;

		input {
			border: 1px solid #fff;
			color: #fff;
			background: none;
			font-size: 15px;
			font-weight: 400;
			height: 50px;
			line-height: 50px;
			padding: 0 15px;
			max-width: 100%;
			width: 370px;
			max-width: 100%;
			
			&::placeholder {
			  color: #fff;
			}

			&:focus {
				outline: none;
			}
		}

		button {
			background: none;
			border: 0;
			position: absolute;
			right: 0;
			color: #fff;
			top: 0;
			height: 50px;
			line-height: 50px;
			padding: 0 15px;
		}
	}
}

.faq-nav {
	text-align: center;
	margin-top: -90px;
	position: relative;

	a {
		color: #FFFFFF;
		display: inline-block;
		font-size: 15px;
		font-weight: 400;
		padding: 20px 8px;
		text-align: center;
	}
}

.faq-topic {
	background: #FFFFFF;
	border-radius: 5px;
	box-shadow: 0 2px 30px 0 rgba(0,0,0,0.15);
	margin-bottom: 25px;
	min-height: 325px;
	padding: 30px 38px 10px;	

	h6 {
		color: color('gray-dark');
		font-size: 20px;
		font-weight: 400;
		margin-bottom: 30px;
		padding: 0;

		a {
			color: inherit;
			&:hover{color: inherit;}
		}

		img {
			margin-right: 10px;
			float: left;
		}

		i {
			float: right;
		}

		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}

	ul {
		padding: 0;
		list-style: none;

		li {
			a {
				color: color('orange-light');
				font-size: 13px;
				font-weight: 400;
				letter-spacing: 0;
				line-height: 15px;
				padding: 2px 0;
			}
		}
	}
}

.faq-heading {
	h1,h2,h3,h4,h5,h6 {
		font-weight: 400;
		font-size: 20px;
		color: color('gray-dark');
		letter-spacing: 0;
		line-height: 30px;
		margin: 0 0 30px;
	}
}

.faq-content {
	background: #FFFFFF;
	border-radius: 5px;
	box-shadow: 0 2px 30px 0 rgba(0,0,0,0.15);
	margin-top: -50px;
	min-height: 594px;
	padding: 35px 25px;
	position: relative;
	
	svg {
		position: absolute;
		left: 30px;
		top: 35px;
	}

	svg + .faq-list {
		padding-left: 80px;
	}

	.post-content {
		padding: 40px 80px;
	}
	
	@include media-breakpoint-down(sm) {
		.post-content {
			padding: 0;
		}
	}
}

.faq-list {
	ul {
		padding-left: 0;
		list-style: none;

		li {
			display: block;
			font-weight: 400;
			font-size: 15px;
			color: color('gray-dark');
			letter-spacing: 0;
			line-height: 22px;

			a {
				color: color('orange-light');
				display: block;
				font-size: inherit;
				font-weight: inherit;
				line-height: inherit;
				padding: 5px 0;
			}
		}
	}

	&--related {
		padding: 50px 80px 0;
		border-top: 1px solid rgba(#094252,0.1);
	}

	@include media-breakpoint-down(sm) {
		&--related {
			padding: 15px;
		}
	}
}

.faq-sidebar {
	padding-top: 30px;
	a {
		margin-bottom: 5px;
	}
}