.footer {
	background: #F2F5F6;
	padding: 30px 0;
}

.footer-share {
	a {
		display: inline-block;
		margin-right: 5px;
	}
}

.footer-logos {
	padding: 30px 0 0;
	a {
		display: inline-block;
		img {
			max-width: 100%;
		}
	}
}

.footer-nav {
	position: relative;
	
	&:before {
		border: 1px solid #D3D6D7;
		content: "";
		display: block;
		height: 120px;
		left: -40px;
		position: absolute;
		top: 0;
		width: 1px;
	}

	ul {
		list-style: none;
		padding: 0;

		li {
			display: block;
			margin: 0;
			padding: 0;
			line-height: 18px;

			a {
				font-size: 13px;
				font-weight: 400;
				color: color('gray');
				strong {

				}
			}
		}
	}
}

.footer--btn {
	border-radius: 5px;
	border: 2px solid rgba(#464D5C,0.2);
	clear: left;
	color: color('orange-light');
	float: left;
	font-size: 12px;
	letter-spacing: 0.5px;
	margin-bottom: 5px;
	padding: 5px 15px;
	text-transform: uppercase;
}

.footer-fone {
	clear: both;
	color: color('orange-light');
	display: block;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 0;
	margin-top: 15px;
	text-align: justify;
}

.footer-copy {
	background: color('orange-light');
	display: block;

	small,
	address {
		float: left;
		color: #fff;
		font-weight: 500;
		font-size: 11px;
		width: 50%;
		padding: 18px 0 2px;
	}

	address {
		text-align: right;
	}

	&:after {
		clear: both;
		content: "";
		display: table;
	}
}
